@model IEnumerable<O_O.Models.post>

@{
ViewBag.Title = "Blog";
int page = ViewBag.pageNum;
int numPosts = ViewBag.numPosts;
int pageSize = ViewBag.pageSize;
}
@section head {
<link rel="Stylesheet" href="@Url.Content("~/Content/sh_the.min.css")" type="text/css" />
<link rel="Stylesheet" href="@Url.Content("~/Content/blog.css")" type="text/css"/>
<script type="text/javascript" src="@Url.Content("~/Scripts/sh_main.min.js")"></script>
<script type="text/javascript">
window.onload = function () {
function getElementsByClassName(_class, tag) {
var els = [], tags = document.getElementsByTagName(tag), i = 0;
for (; i < tags.length; i++) {
if (tags[i].className.split(" ").indexOf(_class) !== -1) { els.push(tags[i]); }
}
return els;
}
var clickits = getElementsByClassName("clickit", "a");
var dropdowns = getElementsByClassName("dropdown", "div");
var lis = document.getElementById("icons").getElementsByTagName("li");
document.onclick = function () {
var j = 0; for (; j < dropdowns.length; j++) {
dropdowns[j].style.display = "none";
lis[j].style.zIndex = 1;
}
}
for (i = 0; i < clickits.length; i++) {
if (clickits[i].addEventListener) clickits[i].addEventListener("click", clickitEv, false);
else clickits[i].attachEvent("onclick", clickitEv);
function clickitEv(e) {
if (window.innerWidth > 480) {
var indx = clickits.indexOf(this), dropdown = dropdowns[indx], j = 0;
var hide = dropdown.style.display == "block";
for (; j < dropdowns.length; j++) {
dropdowns[j].style.display = "none";
lis[j].style.zIndex = 1;
}
if (hide === true) {
this.title = this.title.replace("Hide", "View");
lis[indx].style.zIndex = 1;
dropdown.style.display = "none";
}
else {
this.title = this.title.replace("View", "Hide");
lis[indx].style.zIndex = 2;
dropdown.style.display = "block";
}
if (e.stopPropagation) e.stopPropagation();
if (e.cancelBubble) e.cancelBubble();
if (e.preventDefault) e.preventDefault();
if (e.returnValue) e.returnValue = false;
return false;
}
};
dropdowns[i].onclick = function (e) {
if (e.stopPropagation) e.stopPropagation();
if (e.cancelBubble) e.cancelBubble();
}
};
var soclick = getElementsByClassName("so-img", "a")[0];
if (soclick.addEventListener) soclick.addEventListener("click", loadSO, false);
else soclick.attachEvent("onclick", loadSO)
function loadSO() {
var el = document.getElementById("SOActivity");
if (el.innerHTML === "") {
var activity = new XMLHttpRequest();
activity.onreadystatechange = function () {
if (activity.readyState == 4) {
el.innerHTML = activity.responseText;
}
};
activity.open("GET", "/Blog/StackOverflow", true);
activity.send(null);
}
}
sh_highlightDocument('../../Scripts/', '.min.js');
};
</script>
}
<section id="right-sidebar">
<ul id="icons">
<li>
<a href="http://@Request.Url.Host/Blog/RSS" class="clickit sprites rss-img">
<span>Subscribe</span></a>
<div class="rss dropdown">
Copy the URL below into your RSS reader <br />
<input value="http://@Request.Url.Host/Blog/RSS" />
</div>
</li>
<li>
<a href="http://stackoverflow.com/users/719312/thomas-shields" class="clickit sprites so-img">
<span>Stack Overflow</span></a>
<div class="dropdown">
<div id="SOActivity"></div>
<a href="http://stackoverflow.com/users/719312/thomas-shields">
<img class="so-flair" src="http://stackoverflow.com/users/flair/719312.png?theme=clean" width="208" height="58" alt="profile for Thomas Shields at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Thomas Shields at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
</a>
</div>
</li>
<li>
<a href="https://github.com/thomas4g" class="sprites git-img">
<span>Github</span>
</a>
<div class="dropdown">
</div>
</li>

</ul>
</section>

<section id="posts">
@foreach (var item in Model)
{
@Html.Partial("Post", item);
}
</section>

@if(page > 1) {
@(Html.ActionLink("« Previous", "Index", new { page = page - 1 }, new { @class = "previous" }))
}
@if (page * pageSize < numPosts)
{ 
@Html.ActionLink("Next »", "Index", new { page = page + 1 }, new { @class = "next" })
}
